version: '3.9'

services:
  db:
    image: postgres:18
    container_name: postgres
    environment:
      POSTGRES_DB: hw_db
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d hw_db" ]
      interval: 5s
      timeout: 5s
      retries: 10

  file-storing:
    build: ./FileStoring
    container_name: file-storing
    ports:
      - "8081:8080"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  file-analysis:
    build: ./FIleAnalisys
    container_name: file-analysis
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata:
